@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");

.main-container {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 4px 10px grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 600px;
  margin: auto;
  font-family: "El Messiri", s;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  color: #1d2743;
  font-family: "El Messiri", sans-serif;
}

.body{
    padding-bottom: 30px;
}

.input {
  width: 45vh;
  padding: 8px;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 6px;
  border: 0.5px solid r #1d2743;
}

.input:hover {
  border: 0.5px solid #fe9000;
}

.button{
  font-size: 20px;
  width: 150px;
  padding: 10px;
  background-color: #1d2743;
  color: #f5fbef;
  border-radius: 10px;
  justify-content: center;
  font-family: "El Messiri", sans-serif;
  margin: 0px 100px;
}
.button:hover {
  color: #1d2743;
  background-color: #fe9000;
  transition: ease-in-out 0.3s;
}
