// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");


.sidebar-icon {
  display: none;
  align-self: center;
  padding: 1.5rem;
  font-size: 30px;
  cursor: pointer;
}

.sidebar-icon:hover {
  color: #fe9000;
  transition: color ease-in-out 0.5s;
}

.nav-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #ffffff;

  .logo-link {
    display: flex;
    height: 100%;
    width: 70px;
    padding: 10px;
    margin-left: 45px;
    font-family: "Tilt Prism", sans-serif;
    text-decoration: none;
    font-size: 340%;
    font-weight: bolder;
    color: #fe9000;
  }

  .nav-bar-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "El Messiri", sans-serif;

    .nav-links{
      display: flex;
    }
    .nav-link {
      padding: 10px;
      cursor: pointer;
      font-size: medium;
      color: #fe9000;
      margin: 0px 15px;
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-box {
  width: 30px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: #fe9000 1px solid;
  font-size: 12px;
  transition: width 0.3s ease-in-out, font-size 0.3s ease-in-out;
  margin-right: 15px;
}

.search-box::placeholder {
  font-size: 14px;
  border: none;
}

.search-container.focused .search-box,
.search-box:focus,
.search-box:hover {
  width: 200px;
  font-size: 12px;
  border: #fe9000 1px solid;
}

@media (max-width: 680px) {
  .sidebar-icon {
    display: flex;
    position: absolute;
   
  }
.logo-link{
  position: absolute;
  right: 9rem;
}

  .nav-links{
    position: absolute;
    right: 0;
    top: 5rem;
  }

  .sidebar-icon{
    position: fixed;
    top: 0;
  }
  .modal {
    width: 80%;
  }

  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-box {
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }

  .search-icon {
    margin-top: 10px;
  }
}

@media (min-width: 685px) {
  .nav-bar {
    height: 100px !important; 
  }
  .nav-links {
    visibility: visible !important; 
    width: max-content;
    margin-top: 10px;
  }

  .nav-bar-container{
    width: 1000px;
  }
  
}