.google-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: 'El Messiri', sans-serif;
}

.texts-divider {
    position: relative;
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
}
.texts-divider::before{
    content:" ";
    display: block;
    height: 1px;
    width: 120px;
    position: absolute;
    margin-left: -90%;
    top: 50%;
    left: 0;
    background-color: #808080;
    
}
.texts-divider::after{
content:" ";
  height: 1px;
  width: 120px;
  background-color:#808080;
  display: block;
  position: absolute;
  margin-right: -90%;
  top: 50%;
  right: 0;
}
.google-button-wrapper {
    align-items: center;
}

.google-button {
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 30vh;
    font-size: large;
    font-weight: 300;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.error-messages {
    color: red;
    margin-top: 10px;
}