@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

.sign-in{
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    box-shadow: 0px 4px 10px grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 600px;
    
    
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    color: #172447;
    font-family: 'El Messiri', sans-serif;
}
.password-container{
    display: flex;
    align-items: center;
    
}
.sign-in-text{
    width: 55vh;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 6px;
    border: 0.5px solid r#1D2743;
}
.sign-in-text:hover{
    border: 0.5px solid  #FE9000 ;
}
.eye-icon{
    cursor: pointer;
    margin-left: -25px;
}
.forget-password-button{
    border: none;
    outline: none;
    color: #1D2743;
    text-decoration: none;
    float: right;
    font-family: 'El Messiri', sans-serif;
}
.button-container{
    text-align: center;
    margin: 15px;
    
}
.login-button{
    padding: 10px;
    font-size: 20px;
    width: 350px;
    border: none;
    background-color: #1D2743;
    color: #F5FBEF;
    border-radius: 5px;
   text-align: center;
   font-family: 'El Messiri', sans-serif;
}
.login-button:hover{
    color: #1D2743;
    background-color: #FE9000;
    transition: ease-in-out 0.3s;
}
.error-messages{
    text-align: left;
    color: red;
    font-size: 12px;
}
.sign-up-link{
    text-decoration: none;
    float: right;
    font-size: 14px;
    font-weight: 500px;
    font-family: 'El Messiri', sans-serif;
    
}
}

