.progress-container {
    width: 100%;
    margin: 20px 0;
    height: auto;
  }
  

  .progress-bar {
    max-width: 69%;
    height: 15px;
    text-align: center;
    line-height: 30px;
    transition: width 0.5s;
    margin: 10px calc(13.2% + 25px);
    background-color: #174263;
    border-radius: 40px;
  }

  .sections {
    display: flex;
    justify-content: space-between;
}

.sections > div {
    width: calc(33% - 10px);
    text-align: center;
    margin-right: 10px;
}

.sections > div:last-child {
    margin-right: 0;
}

.next{
  position: absolute;
  bottom: 70px;
  right : 6%;
  width: 20%;
}

@media (max-width: 680px){
  .next{
    right: 30%;
    width: 40%;
   top: 150vh;
   bottom: auto;
  }
}

@media (max-height: 700px){
  .next{
    top: 170%;
  }
}

